.geolocation {
    min-height: 708px;
    background: #0155B5;
    position: relative;
    padding: 3vw;
    .map__field {
        display: flex;
    }
    .map__contact {
        position: absolute;
        background: #0155B5;
        display: flex;
        flex-direction: column;
        &-title {
            font-weight: 400;
            font-size: 48px;
            text-align: center;
            color: #FFFFFF;
        }
        &-info {
            font-family: 'Sen';
            font-weight: 400;
            font-size: 18px;
            color: #FFFFFF;
            border: none;
            outline: none;
            width: 360px;
            margin-top: 20px;
            background-color: #0155B5;
            border-bottom: 2px solid #FFFFFF;
            &::placeholder {
                color: #FFFFFF;
            }
        }
        .map__contact-info--mt {
            margin-top: 62px;
        }
        .map__button {
            margin-top: 45px;
            &:hover {
                transition: all 0.5s;
                color: rgb(255, 255, 255);
                background-color: #4687d1;
                border: 4px solid #FFFFFF;
            }
        }
    }
}